{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}

    <div class="row">
        <div class="small-centered medium-5 columns">
            <h1>{{ 'Login'|trans }}</h1>

            {% if error %}alert-box error radius
                <div data-alert class="">
                    {{ error }}
                </div>
                <div data-alert class="alert-box info radius">
                    <strong>Hint:</strong> Try <code>username</code>/<code>password</code>
                </div>

            {% endif %}
            <form action="{{ path('login_check') }}" method="post" novalidate {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <div>
                    <button type="submit" class="button radius">{{ 'Send'|trans }}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
